# Gradle
.gradle/
build/

# Android build folders
app/build/
*/build/

# Local config
local.properties

# IntelliJ / Android Studio
.idea/
*.iml

# Logs
*.log

# OS files
.DS_Store

# Kotlin
*.class

# Generated
captures/

# Keystore
*.jks
*.keystore

# APK/AAB
*.apk
*.aab

# Firebase secrets
google-services.json
GoogleService-Info.plist

# Environment
.env